<h2 class="center">Welcome to Propel(x)</h2>

<p class="center">Thank you for signing up. You account is currently pending approval for full access to all of our investment opportunities. By law, we are required to ask you a few questions. To expedite your access to deals, please answer a short survery.</p>

<h3 class="center">I am investing as:</h3>


